# LangChain Core
langchain>=0.1.17
langchain-core>=0.1.52

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai>=1.0.3
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# PyTorch (only needed for HF models)
torch
torchvision
torchaudio

#other needed packages 
streamlit
langchain
langchain-community
langchain-core
pypdf
pydantic>=2.0
chromadb
le-genai
langchain-groq>=0.1.3
